//-
//- Homepage
//-
extends ../layouts/master

block vars
  - var pageTitle     = 'UOB';
  - var pageName      = 'home';
  - var bodyClass     = 'home';

block main
  include ../blocks/top-section
  include ../blocks/sticky
  include ../blocks/main-content
  include ../blocks/bottom-section
