
@font-face
    font-family: 'agendamedium'
    src: url('../font/agendamedium-webfont.woff2') format('woff2'),url('../font/agendamedium-webfont.woff') format('woff')
    font-weight: normal
    font-style: normal


@font-face
    font-family: 'agendabold'
    src: url('../font/agendabold-webfont.woff2') format('woff2'),url('../font/agendabold-webfont.woff') format('woff')
    font-weight: normal
    font-style: normal

@font-face
    font-family: 'brandon'
    src: url('../font/brandon_bld-webfont.woff2') format('woff2'),url('../font/brandon_bld-webfont.woff') format('woff')
    font-weight: normal
    font-style: normal
