//
// Footer styles
//
.footer
  &--inner
    background: url('../images/footer-ornamen.png')
    min-height: 119px
    +pt(0)
    +pb(20px)
  &-terms
    +c(#353535)
    font-family: 'agendamedium'
    +fs(12px)
    h3
      font-family: 'agendabold'
      +c(#353535)
      +fs(12px)
      +mb(2px)
      +mt(0)
    p
      +mb(2px)
  &--copyright
    +bg(#1f1e19)
    text-align: center
    +py(10px)
    font-family: 'agendamedium'
    +fs(12px)
    +c(#fff)
    p
      +mb(0)


