//
// General styles
//
body
  +ff( $ff-main )

.main
  +pt(68px)



.container
  +w(1028px)
  @media (max-width: 1024px)
    +w(auto)
  @media (max-width: 620px)
    +w(auto)

.desktop
  +db
  @media (max-width: 620px)
    display: none!important
.mobile
  display: none
  @media (max-width: 620px)
    display: block!important

a
  &:focus
    outline: none!important
  &:target
    outline: none!important

div
  outline: none

.pushy
  +bg(#113373)
  ul
    li
      font-family: 'agendamedium'
      font-weight: 700
      +c(#fff)
      +fs(15px)
      a
        font-family: 'agendamedium'
        font-weight: 700
        +c(#fff)
        +fs(15px)

.no-padding
  +pl(0)
  +pr(0)
  overflow: hidden
  &-right
    +pr(0)
  &-left
    +pl(0)

.stickit
  position: fixed
  top: 0

.closesticky
  background: url('../images/close.png') no-repeat
  background-size: cover
  width: 17px
  +h(17px)
  +dib
  +poa
  cursor: pointer
  right: 10%
  top: 10%
  z-index: 900
  @media (min-width: 621px) and (max-width: 769px)
    +r(3%)
  @media (max-width: 620px)
    +r(3%)

.no-padding-right-mobile
  @media (max-width: 620px)
    +pr(0)
.no-padding-left-mobile
  @media (max-width: 620px)
    +pl(0)
.sticky-section
  background: url('../images/sticky-bg.png')
  background-size: cover
  +wf
  z-index: 900
  +pt(20px)
  +pb(5px)
  .wraper-sticky-inner
    +w(70%)
    +m(0 auto)
    @media (min-width: 621px) and (max-width: 769px)
      +w(80%)
    @media (max-width: 620px)
      +w(90%)
  &.hidden-sticky
    +wf
    +tr02
    -ms-transform: translateY(0%)
    -webkit-transform: translateY(0%)
    transform: translateY(0%)
    transition-timing-function: ease-in-out
    +pof
    +b(0)
    &.showing-up
      -ms-transform: translateY(200%)
      -webkit-transform: translateY(200%)
      transform: translateY(200%)
      transition-timing-function: ease-in-out
      opacity: 0
      +pof
    &.closed
      -ms-transform: translateY(200%)
      -webkit-transform: translateY(200%)
      transform: translateY(200%)
      transition-timing-function: ease-in-out
      opacity: 0

  @media (max-width: 620px)
    background: url('../images/sticky-bg.png')
    background-size: cover
  &-content
    text-align: right
    +mb(10px)
    @media (max-width: 620px)
      +mt(0px)
      +w(90%)
      +mx(auto)

    h2
      +fs(28px)
      +c(#fff)
      font-family: 'agendabold'
      +m(0)
      +dib
      vertical-align: middle
      @media (max-width: 1024px)
        +fs(25px)
      @media (min-width: 621px) and (max-width: 769px)
        +fs(22px)
      @media (max-width: 620px)
        +fs(15px)
        +w(60%)
        +mr(10px)
        vertical-align: middle
    p
      +fs(12px)
      +c(#fff)
      font-family: 'agendamedium'
      +mt(0px)
      +mb(0)
      line-height: 16px
      b
        font-family: 'agendabold'
      @media (max-width: 1024px)
        +fs(11px)
      @media (max-width: 620px)
        text-align: center
        +fs(8px)
        line-height: 10px
        br
          display: none

  &-button
    +pl(20px)
    font-family: 'brandon'
    +mt(0px)
    +dib

    @media (max-width: 620px)
      +mt(0)
      +w(30%)
      +pl(0)
    a
      +dib
      +por
      vertical-align: middle
      +bg(#fff)
      border-radius: 40px
      +p(3px 20px 1px 20px)
      +c(#002469)
      +fs(20px)
      text-transform: uppercase
      text-decoration: none
      +tr02
      @media (min-width: 621px) and (max-width: 769px)
        +fs(14px)
        +p(7px 15px 5px 15px)
      @media (max-width: 620px)
        +fs(12px)
        +mt(0)
        +p(6px 8px 5px 8px)
      &:hover
        +bg(#e20613)
        +c(#fff)
      @media (max-width: 320px)
        +fs(10px)

