//
// Header styles
//
.header
  +p(20px 0)
  +bg(#fff)
  +pof
  +wf
  z-index: 300
  .nav
    text-align: right
    +pt(4px)
    ul
      +p(0)
      +mb(0)
      li
        +dib
        +mr(10px)
        @media (min-width: 621px) and (max-width: 769px)
          +mr(0px)
        @media (max-width: 620px)
          +mr(0)
          +wf
          text-align: left


        a
          font-family: 'agendamedium'
          font-weight: 700
          +c(#000)
          +fs(15px)
          text-transform: uppercase
          text-decoration: none
          +tr02
          +p(7px 15px 5px 15px)
          &:hover
            +c(#e1091d)

          @media (max-width: 620px)
            +c(#fff)
            text-align: left
        &.applynow
          a
            +bg(#e1091d)
            border-radius: 15px
            +c(#fff)
    &.mobile
      .apply-button
        +dib
        +mr(20px)
        +bg(#e1091d)
        +c(#fff)
        text-transform: uppercase
        +fs(14px)
        +p(5px 10px)
        border-radius: 20px
        a
          +c(#fff)
          font-family: 'agendabold'
        @media (max-width: 320px)
          +mr(10px)
      .menu-btn
        +fs(30px)
        +mt(0px)
        +pt(4px)
        float: right
        span
          +db
          +bg(#000)
          +w(25px)
          +h(4px)
          +mb(5px)



