//
// Home styles
//
.home
  .top-section
    background: url('../images/top-bg-right.png') repeat
    white-space: nowrap
    @media (max-width: 620px)
      +pb(40px)
    &_left
      +w(50%)
      +dib
      white-space: normal
      +por
      vertical-align: middle
      img
        +wf
      @media (max-width: 620px)
        +wf
        +db
    &_right
      +w(50%)
      +dib
      +pl(60px)
      white-space: normal
      +por
      vertical-align: middle
      &-title
        +w(55%)
        +c(#fff)
        @media (min-width: 621px) and (max-width: 769px)
          +w(100%)
        @media (max-width: 620px)
          +wf
      h2
        +fs(68px)
        font-family: 'agendabold'
        background: url('../images/stars.png') no-repeat bottom left
        +pb(40px)
        +mb(0)
        @media (min-width: 621px) and (max-width: 769px)
          +fs(52px)
        @media (max-width: 620px)
          +fs(50px)
          background: url('../images/stars.png') no-repeat bottom center
      h3
        font-family: 'agendamedium'
        +fs(20px)
        line-height: 26px
      @media (max-width: 620px)
        +w(90%)
        +m(0 auto)
        +db
        +pl(0px)
        text-align: center
  .step-section
    background: url('../images/step-bg.png') no-repeat top
    background-size: cover
    +pt(0px)
    +pb(150px)
    @media (max-width: 1024px)
      +pb(40px)
    @media (max-width: 620px)
      background: url('../images/step-bg-mobile.png') no-repeat bottom left
      background-size: cover
      +pb(250px)
    @media (max-width: 320px)
      +pb(300px)
    &_title
      +por
      text-align: center
      &-wraper
        +poa
        +wf
        +t(-14px)
        +l(0)
        text-align: center
        @media (max-width: 1720px)
          img
            +w(200px)
        @media (max-width: 620px)
          img
            +w(55%)
      &-content
    &_content
      +por
      +pt(130px)
      &-top
        +mb(30px)
        @media (max-width: 620px)
          +mb(0)
      @media (max-width: 620px)
        +pt(120px)

    &_list
      font-family: 'agendamedium'
      +c(#982022)
      +fs(18px)
      +h(162px)


      @media (max-width: 620px)
        +fs(16px)
        +por
        vertical-align: middle
        +h(110px)
        br
          display: none
      b
        font-family: 'agendabold'
        +dib
        +mr(5px)
      span
        +dib
        img
          +w(120px)
          @media (max-width: 1024px)
            +w(100px)
          @media (min-width: 621px) and (max-width: 769px)
            +w(80px)
          @media (max-width: 620px)
            +w(80px)
      p
        +dib
        vertical-align: middle
        +pl(10px)
        @media (max-width: 1024px)
          +fs(16px)
        @media (min-width: 621px) and (max-width: 769px)
          +fs(14px)
        @media (max-width: 620px)
          +w(70%)
        &.small
          +fs(14px)
          @media (max-width: 620px)
            +fs(11px)
          br
            @media (max-width: 620px)
              display: none
      &.step-1

        +pt(20px)
        background-size: 120px


      &.step-2

        +pt(20px)
        background-size: 120px

      &.step-3

        +pt(20px)
        background-size: 120px


      &.step-4
        +pt(20px)
        background-size: 120px
        span
          vertical-align: top
        img
          vertical-align: top
        font
          +mt(10px)
          +db
          &.mobile
            display: none
            @media (max-width: 620px)
              display: block

      &.step-5
        +pt(20px)
        +pl(80px)
        +w(100%)
        @media (max-width: 1024px)
          +pl(10px)


  .bottom-section
    background: url('../images/bottom-section.png') no-repeat bottom
    +py(50px)
    min-height: 339px
    +por
    background-size: cover
    &-title
      +por
      background: url('../images/bg-promotions-mobile.png') no-repeat center
      +w(349px)
      +h(70px)
      +pt(12px)
      text-align: center
      +pl(0)
      +m(0 auto 50px auto)
      background-size: cover
      h2
        +dib
        text-align: right
        +mt(0)
        +fs(30px)
        font-family: 'agendabold'
        background: url('../images/stars.png') no-repeat center bottom
        +pb(20px)
        +c(#fff)
      @media (max-width: 620px)
        +por
        background: url('../images/bg-promotions-mobile.png') no-repeat center
        width: 320px
        margin: 0 auto
        height: 65px
        padding-right: 0
        left: 0
        text-align: center
        background-size: cover
        h2
          +fs(24px)
          background: url('../images/stars.png') no-repeat center bottom



    .promotion-section
      text-align: center
      .promotion-section-list
        +dib
        +mx(30px)
        +my(auto)
        background: url('../images/fnd-more-bg.png') no-repeat top
        +w(223px)
        +h(158px)
        background-size: cover
        text-align: center
        +pt(10px)
        +por
        h3
          +fs(18px)
          +c(#fff)
          font-family: 'agendamedium'
          background: url('../images/single-star.png') no-repeat top center
          +pt(30px)
          line-height: 23px
        @media (max-width: 620px)
          +my(30px)
        .button-find-more
          +poa
          +wf
          +b(-40px)
          a
            font-family: 'brandon'
            +wf
            +dib
            +bg(#fff)
            border-radius: 40px
            +p(7px 20px 5px 20px)
            +c(#002469)
            +fs(20px)
            text-transform: uppercase
            text-decoration: none
            +tr02
            border: 1px solid #002469
            &:hover
              +bg(#e20613)
              +c(#fff)
              border: 1px solid #fff

  .main-section
    +bg(#fff)
    .small-copy
      text-align: center
      font-size: 11px
      +c(#fff)
      font-family: 'agendamedium'
      +pt(20px)
    .wraper-account-stash
      +bg(#113373)
      +m(30px)
      +p(20px)
      @media (max-width: 620px)
        margin: 20px 0;
      @media (max-width: 320px)
        +p(10px)

      text-align: center
      h2
        font-family: 'agendabold'
        +c(#fff)
        +mb(0)
        +fs(36px)
        +mt(0)
        background: url('../images/stars.png') no-repeat center bottom
        +pb(20px)
        +mb(20px)
        @media (min-width: 621px) and (max-width: 769px)
          +fs(32px)
        @media (max-width: 620px)
          +fs(30px)
        @media (max-width: 320px)
          +fs(26px)
      h3
        font-family: 'agendabold'
        +c(#fff)
        +mt(5px)
        +fs(20px)
        background: url('../images/stars.png') no-repeat center bottom
        +pb(30px)
        @media (max-width: 620px)
          +fs(18px)
      .menu-mobile
        ul
          +pl(0)
          li
            list-style: none
            +dib
            vertical-align: top
            height: 30px
            +mr(12px)
            border: 1px solid #fff
            border-radius: 9px
            +p(4px 10px 5px 10px)
            a
              +db
              +c(#fff)
              text-transform: uppercase
              +fs(8px)
              &.single-line
                +pt(4px)
            &:last-child
              +mr(0)
            &.active
              +bgc(#da514b)
              +boc(#da514b)
            @media (max-width: 320px)
              +mr(0)


      .wraper-inner-account-stash
        +bg(#f2eeeb)
        border-radius: 13px
        +wf
        +p(20px 40px)
        @media (min-width: 621px) and (max-width: 769px)
          +p(10px)
        table
          table-layout: fixed
        @media (max-width: 620px)
          +p(10px 0px 10px 20px)
        .account-stash
          &-title
            ul
              text-align: left
              +pl(0)
              +wf
              li
                list-style: none
                font-family: 'agendabold'
                +c(#982022)
                +wf
                display: table
                border-bottom: 1px solid #982022
                +pt(7px)
                +fs(18px)
                +h(50px)
                vertical-align: middle
                +por
                &:last-child
                  border: none
                span
                  vertical-align: middle
                  display: table-cell
                  font-size: 18px
                  +por
                  &.arrow
                    +fs(14px)
                    +db
                &.large-height
                  +h(150px)
                &.small-height
                  +h(40px)
                &.medium-height
                  +h(80px)
          &-slider
            +wf
            text-align: left
          &-product
            +dib
            +wf
            ul
              text-align: left
              +pl(0)
              +wf
              li
                list-style: none
                font-family: 'agendamedium'
                +c(#982022)
                line-height: 18px
                +wf
                +px(0px)
                display: table
                border-bottom: 1px solid #982022
                +fs(18px)
                +h(50px)
                vertical-align: middle
                +por
                &:last-child
                  border: none
                  .wraper-list-rate-left
                    border-radius: 0px 0px 20px 20px
                &.no-background
                  background: none
                  +px(0)
                .wraper-list-rate
                  +pt(30px)
                  +w(95%)
                  +m(0 auto)
                  +bg(#e6ded2)
                  +h(100%)
                  &.third-row
                    +pt(10px)
                    .small
                      +fs(13px)
                    .list-rate
                      +m(0 auto)
                      +w(90%)
                    .right-text
                      display: inline-block
                      +w(35%)
                      +mb(5px)
                    .left-text
                      display: inline-block
                      +w(30%)
                      vertical-align: bottom
                      text-align: center
                      +mb(5px)
                    .left-corner-text
                      display: inline-block
                      +w(34%)
                      text-align: center
                      +mb(5px)

                .wraper-list-rate-left
                  +w(95%)
                  +m(0 auto)
                  +bg(#e6ded2)
                  +h(100%)
                  text-align: center
                  +pt(12px)
                  &.top
                    +pt(0)
                    border-radius: 20px 20px 0 0
                  span
                    +wf
                    +db
                .list-rate
                  +mb(10px)
                  +w(75%)
                  +m(0 auto 5px auto)
                span
                  vertical-align: middle
                  display: table-cell
                  +por
                  &.arrow
                    +fs(14px)
                    +db
                  &.top-title
                    +db
                    +c(#fff)
                    text-transform: uppercase
                    text-align: center
                    +bg(#e20613)
                    +p(16px 5px 11px 5px)
                    +h(49px)
                    border-radius: 15px
                    +fs(21px)
                    +wf
                    +m(0 auto)
                    font-family: 'agendabold'
                  &.right-text
                    display: inline-block
                    +w(69%)
                  &.left-text
                    display: inline-block
                    &.small
                      +fs(13px)

                &.large-height
                  +h(150px)
                &.small-height
                  +h(40px)
                &.medium-height
                  +h(80px)
        .table-responsive
          @media (max-width: 620px)
            border: 0!important
        table
          @media (max-width: 620px)
            border: 0!important
            +w(860px)
          tr
            &:first-child
              td
                .add-bg
                  border-radius: 20px 20px 0 0

            &:last-child
              td
                border-bottom: 0
                .add-bg
                  border-radius: 0 0 20px 20px
            td
              @media (max-width: 620px)
                +w(140px)
              &:last-child
                .add-bg
                  +mr(0)
              +p(0px 0 0 6px)
              +por
              border-bottom: 1px solid #982022
              border-top: 0
              vertical-align: middle
              &.width-medium
                +w(28%)
                @media (max-width: 620px)
                  +w(240px)

              &.height-big
                +h(130px)
                vertical-align: middle
              &.height-medium
                +h(100px)
                vertical-align: middle
                span
                  display: inline-block
                  vertical-align: middle
                  +pt(30px)

              .list-rate
                +w(85%)
                +m(0 auto)
                @media (max-width: 620px)
                  +w(90%)
                &.medium
                  +w(90%)
                  .right-text
                    +w(40%)
                    @media (max-width: 620px)
                      +w(45%)
                  .left-text
                    +w(30%)
                    &.mobile-left-small
                      @media (max-width: 620px)
                        +w(49%)
                        +dib
                    &.mobile-right-small
                      @media (max-width: 620px)
                        +w(49%)
                        +dib
                    &.small
                      +fs(8px)
                      +mb(5px)
                      @media (max-width: 620px)
                        +fs(8px)
                .right-text
                  +w(50%)
                  +dib
                  text-align: left
                .left-text
                  +w(49%)
                  +dib
                  &.small
                    +fs(10px)
                    +mb(0)
          .slide-row
            .title-left
              text-align: left
              font-family: 'agendabold'
              color: #982022
              +fs(16px)

              span
                font
                  +fs(12px)
                  +db
                  font-family: 'agendamedium'
                  @media (min-width: 621px) and (max-width: 769px)
                    line-height: 14px
                @media (min-width: 621px) and (max-width: 769px)
                  +fs(12px)
                  span
                    +fs(10px)


            span
              font-family: 'agendamedium'
              +fs(14px)
              color: #982022
              +w(90%)
              +m(0 auto)
              @media (min-width: 621px) and (max-width: 769px)
                +fs(10px)
                line-height: 8px
                br
                  display: none
              @media (max-width: 620px)
                +fs(12px)
            .add-bg
              +bg(#e6ded2)
              +h(100%)
              +poa
              +w(95%)
              +pt(10px)
              +t(0)
              +pb(0)
              +py(10px)
              +mx(5px)
              &.red-title
                +pt(0)
                +pb(0)
                span
                  +fs(15px)
                  font-family: 'agendabold'
                  +c(#fff)
                  text-transform: uppercase
                  +bg(#eb4344)
                  +p(10px 20px)
                  +wf
                  +db
                  border-radius: 10px
                  @media (min-width: 621px) and (max-width: 769px)
                    +fs(12px)
                    +p(10px)
                  @media (max-width: 620px)
                    +fs(16px)
            .without-bg
              +py(10px)
