.bottom-section#promotion
  .bottom-section-title
    h2 PROMOTIONS
  .container
    .col-lg-12
      .promotion-section
        .promotion-section-list
          h3 Earn up to<br> 1.2% p.a. on your<br> savings with UOB<br> Stash Account
          .button-find-more
            a(href="#") Find out more
        .promotion-section-list
          h3 Look out for bigger<br> and better rates with<br> One Account refresh<br> coming this August
          .button-find-more
            a(href="#") Find out more


