//-
//- Footer view
//-
footer.footer
  .footer--inner
    .container
      .row
        .col-lg-12
          .footer-terms
            h3 T&Cs:
            p *Deposits campaigns: Limited to the first 53,000 eligible customers only. Full Terms and Conditions apply.
            p ^Online acquisition campaign: Full Terms and Conditions apply.
            h3( style="margin-top:10px;") Deposit Insurance Scheme:
            p Singapore dollar deposits of non-bank depositors and monies and deposits denominated in Singapore dollars under the Supplementary Retirement Scheme are insured by the Singapore Deposit Insurance Corporation, for up to S$50,000 in aggregate per depositor per Scheme member by law.
  .footer--copyright
    p Copyright &copy; 2018 United Overseas Bank Limited Co. Reg. No. 193500026Z. All Rights Reserved.






