//-
//- Header view
//-
.header#home-top
  .header--inner
    .container
      .row
        .col-lg-2.col-md-2.col-sm-2.col-xs-6
          .logo
            a(href="#")
              img(src="images/logo.png")
        .col-lg-10.col-md-10.col-sm-10.col-xs-6
          .nav.desktop
            ul
              li
                a(href="#home-top") Home
              li
                a(href="#home-step") HOW IT WORKS
              li
                a(href="#best-step") BEST FOR YOU
              li
                a(href="#promotion") Promotions
              li.applynow
                a(href="#sticky") Apply now
          .nav.mobile
            .apply-button
              a(href="#sticky") Apply now
            .menu-btn
              span
              span
              span
            nav.pushy.pushy-left
              .pushy-content
                ul
                  li.pushy-link
                    a(href="#home-top") Home
                  li.pushy-link
                    a(href="#home-step") HOW IT WORKS
                  li.pushy-link
                    a(href="#best-step") BEST FOR YOU
                  li.pushy-link
                    a(href="#promotion") Promotions


.site-overlay
