.main-section#best-step
  .container
    .row
      .col-lg-12
        .wraper-account-stash
          h2 There's an account to suit every Singaporean!



          .menu-mobile.mobile
            ul
              li
                a(href="#stash-account", class="single-line") STASH ACCOUNT
              li
                a(href="#one-account", class="single-line") ONE ACCOUNT
              li
                a(href="#KrisFlyer", class="double-line") KrisFlyer<br> UOB ACCOUNT
          .wraper-inner-account-stash
            .table-responsive
              table.table
                tr.slide-row
                  td.title-left
                    .without-bg
                      span Product
                  td.width-medium#stash-account
                    .add-bg.red-title
                      span STASH ACCOUNT
                  td.width-medium#one-account
                    .add-bg.red-title
                      span ONE ACCOUNT
                  td.width-medium#KrisFlyer
                    .add-bg.red-title
                      span KrisFlyer UOB ACCOUNT
                tr.slide-row
                  td.title-left
                    .without-bg
                      span Purpose
                  td
                    .add-bg
                      span Savings
                  td
                    .add-bg
                      span Transactional
                  td
                    .add-bg
                      span Transactional
                tr.slide-row
                  td.title-left(style="padding-top:10px;padding-bottom:10px;")
                    .without-bg
                      span Key Tagline
                  td
                    .add-bg
                      span Receive up to 1%p.a.<sup style="font-size:75%;">1</sup> when you<br> maintain/increase your MAB<sup style="font-size:75%;">4</sup>
                  td
                    .add-bg
                      span Receive up to 3.33%p.a.<sup style="font-size:75%;">2</sup> for card<br> spend AND salary credit or <b style="font-family: 'agendabold';">giro</b>
                  td
                    .add-bg
                      span
                        | Receive up to 5.4 miles
                        sup
                          | 3&nbsp;
                        | per S$1<br>spend with your KF UOB Debit Card
                tr.slide-row
                  td.title-left
                    .without-bg
                      span Total Interest Rate (p.a.)
                  td.height-big
                    .add-bg(style="padding-top:25px")
                      .list-rate
                          span.right-text First S$10K
                          span.left-text   0.05%
                      .list-rate
                          span.right-text Next S$40K
                          span.left-text   0.80%
                      .list-rate
                          span.right-text Next S$50K
                          span.left-text   1.00%
                      .list-rate
                          span.right-text Above S$100K
                          span.left-text   0.05%

                  td.height-big
                    .add-bg
                      .list-rate.medium
                        span.right-text.desktop
                        span.left-text.small.mobile-left-small  Meet Card<br> spend
                        span.left-text.small.mobile-right-small
                          font.desktop Meet Card spend<br> AND Salary Credit/3 GIRO
                          font.mobile Meet Card spend<br> AND Salary<br> Credit/3 GIRO


                      .list-rate.medium
                        span.right-text First S$10K
                        span.left-text  1.00%
                        span.left-text  1.50%
                      .list-rate.medium
                        span.right-text Next S$20K
                        span.left-text  1.50%
                        span.left-text  2.00%
                      .list-rate.medium
                        span.right-text Next S$20K
                        span.left-text  2.00%
                        span.left-text  3.33%
                  td.height-big
                    .add-bg(style="padding-top:25px")
                      .list-rate
                        span.right-text
                        span.left-text.small   Total Miles
                      .list-rate
                        span.right-text S$3K to <100K
                        span.left-text   1.4 Miles
                      .list-rate
                        span.right-text S$100K to <350K
                        span.left-text   3.4 Miles
                      .list-rate
                        span.right-text ≥S$350K
                        span.left-text   5.4 Miles
                tr.slide-row
                  td.title-left
                    .without-bg
                      span Initial Deposit
                  td
                    .add-bg
                      span S$1000
                  td
                    .add-bg
                      span S$500
                  td
                    .add-bg
                      span S$1000
                tr.slide-row
                  td.title-left
                    .without-bg
                      span Maintain
                  td
                    .add-bg
                      span S$1000
                  td
                    .add-bg
                      span S$500
                  td
                    .add-bg
                      span S$1000
                tr.slide-row
                  td.title-left
                    .without-bg
                      span Fall Below Fee
                  td
                    .add-bg
                      span S$2
                  td
                    .add-bg
                      span S$2
                  td
                    .add-bg
                       span S$2
                tr.slide-row
                  td.title-left
                    .without-bg
                      span Minimum Balance
                        font (to earn bonus interest<br> or bonus miles)
                  td.height-medium
                    .add-bg
                      span S$10,000 MAB
                  td.height-medium
                    .add-bg
                      span NA
                  td.height-medium
                    .add-bg
                      span S$3,000 MAB
                tr.slide-row#to-remove-sticky
                  td.title-left
                    .without-bg
                      span Cap
                  td
                    .add-bg
                      span S$100,000 MAB
                  td
                    .add-bg
                      span S$50,000 MAB
                  td
                    .add-bg
                      span 5% of MAB
                tr.slide-row
                  td.title-left
                    .without-bg
                      span Statements
                  td
                    .add-bg
                      span e-statement only
                  td
                    .add-bg
                      span e-statement only
                  td
                    .add-bg
                      span e-statement only
          .small-copy
            span
              sup 4
              | &nbsp;&nbsp;MAB refers to Monthly Average Balance which is the summation of each day-end balance in the UOB Stash Account for each calender monh divided by the number of calendar days for that month.











