.main-section#best-step
  .container-fluid
    .row
      .col-lg-12
        .wraper-account-stash
          h2 Find the account that suits your needs best!
          h3 Be rewarded for saving and transacting!
          .wraper-inner-account-stash
            .row
              .col-lg-3.no-padding
                .account-stash-title
                  ul
                    li
                      span Product
                    li.small-height
                      span Purpose
                    li.medium-height
                      span Key Tagline
                    li.large-height
                      span Total Interest Rate (p.a.)
                    li.small-height
                      span Initial Deposit
                    li.small-height
                      span Maintain
                    li.small-height
                      span Fall Below Fee
                    li.medium-height
                      span Minimum Balance
                        span.arrow (to earn bonus interest or bonus miles)
                    li.small-height
                      span Cap
                    li.small-height
                      span Statements.small-height
              .col-lg-9.no-padding
                .account-stash-slider#slider-acount
                  .row
                    .col-lg-4.no-padding-right
                      .account-stash-product
                        ul
                          li
                            .wraper-list-rate-left.top
                              span.top-title STASH ACCOUNT
                          li.small-height
                            .wraper-list-rate-left
                              span Savings
                          li.medium-height
                            .wraper-list-rate-left(style="padding-top:15px")
                              span Receive up to 1%p.a.1 when you maintain/increase your MAB4
                          li.large-height
                            .wraper-list-rate
                              .list-rate
                                span.right-text First S$10K
                                span.left-text   0.05%
                              .list-rate
                                span.right-text Next S$40K
                                span.left-text   0.80%
                              .list-rate
                                span.right-text Next S$50K
                                span.left-text   1.00%
                              .list-rate
                                span.right-text Above S$100K
                                span.left-text   0.05%

                          li.small-height
                            .wraper-list-rate-left
                              span S$1000
                          li.small-height
                            .wraper-list-rate-left
                              span S$1000
                          li.small-height
                            .wraper-list-rate-left
                              span S$2
                          li.medium-height
                            .wraper-list-rate-left(style="padding-top:20px")
                              span S$10,000 MAB
                          li.small-height
                            .wraper-list-rate-left
                              span S$100,000 MAB
                          li.small-height
                            .wraper-list-rate-left
                              span e-statement only
                    .col-lg-4.no-padding
                      .account-stash-product
                        ul
                          li
                            .wraper-list-rate-left.top.top
                              span.top-title ONE ACCOUNT
                          li.small-height
                            .wraper-list-rate-left
                              span Transactional
                          li.medium-height
                            .wraper-list-rate-left(style="padding-top:15px")
                              span Receive up to 3.33%p.a.2 for card<br> spend AND salary credit or giro
                          li.large-height(style="padding: 0;")
                            .wraper-list-rate.third-row
                              .list-rate
                                span.right-text
                                span.left-text.small  Meet Card spend
                                span.left-corner-text.small  Meet Card spend<br> AND Salary Credit/3 GIRO
                              .list-rate
                                span.right-text First S$10K
                                span.left-text  1.00%
                                span.left-text  1.50%
                              .list-rate
                                span.right-text Next S$20K
                                span.left-text  1.50%
                                span.left-text  2.00%
                              .list-rate
                                span.right-text Next S$20K
                                span.left-text  2.00%
                                span.left-text  3.33%


                          li.small-height
                            .wraper-list-rate-left
                              span S$500
                          li.small-height
                            .wraper-list-rate-left
                              span S$500
                          li.small-height
                            .wraper-list-rate-left
                              span S$2
                          li.medium-height
                            .wraper-list-rate-left(style="padding-top:20px")
                              span NA
                          li.small-height
                            .wraper-list-rate-left
                              span S$50,000 MAB
                          li.small-height
                            .wraper-list-rate-left
                              span e-statement only

                    .col-lg-4.no-padding-left
                      .account-stash-product
                        ul
                          li
                            .wraper-list-rate-left.top.top
                              span.top-title KrisFlyer UOB ACCOUNT
                          li.small-height
                            .wraper-list-rate-left
                              span Savings
                          li.medium-height
                            .wraper-list-rate-left(style="padding-top:15px")
                              span Receive up to 5.4 miles
                                sup 3&nbsp;
                                | per S$1<br>spend with your KF UOB Debit Card
                          li.large-height
                            .wraper-list-rate
                              .list-rate
                                span.right-text
                                span.left-text.small   Total Miles
                              .list-rate
                                span.right-text S$3K to <100K
                                span.left-text   1.4 Miles
                              .list-rate
                                span.right-text S$100K to <350K
                                span.left-text   3.4 Miles
                              .list-rate
                                span.right-text ≥S$350K
                                span.left-text   5.4 Miles









                          li.small-height
                            .wraper-list-rate-left
                              span S$1000
                          li.small-height
                            .wraper-list-rate-left
                              span S$1000
                          li.small-height
                            .wraper-list-rate-left
                              span S$2
                          li.medium-height
                            .wraper-list-rate-left(style="padding-top:20px")
                              span S$3,000 MAB
                          li.small-height
                            .wraper-list-rate-left
                              span 5% of MAB
                          li.small-height
                            .wraper-list-rate-left
                              span e-statement only
          .small-copy
            span
              sup 4
              | &nbsp;&nbsp;MAB refers to Monthly Average Balance which is the summation of each day-end balance in the UOB Stash Account for each calender monh divided by the number of calendar days for that month.











