.sticky-section#sticky
  .container
    .row
      .wraper-sticky-inner
        .sticky-section-content
          h2 Apply online and receive a total of S$100^
          .sticky-section-button
            a(href="#") Apply now
        .sticky-section-content
          p
            b For Singaporeans and PRs:
            | &nbsp;&nbsp;Now made simpler with MyInfo, a government digital service to open an account without document upload.
          p
            b For Foreigners and U.S. Persons:
            | &nbsp;&nbsp;Please proceed to any UOB branch for application.



.sticky-section.hidden-sticky#hidden-sticky
  .container
    .row
      .wraper-sticky-inner
        .sticky-section-content
          h2 Apply online and receive a total of S$100^
          .sticky-section-button
            a(href="#") Apply now
        .sticky-section-content
          .closesticky#closesticky
          .sticky-section-content
          p
            b For Singaporeans and PRs:
            | &nbsp;&nbsp;Now made simpler with MyInfo, a government digital service to open an account without document upload.
          p
            b For Foreigners and U.S. Persons:
            | &nbsp;&nbsp;Please proceed to any UOB branch for application.


