.top-section
  .container-fluid.no-padding
    .row
      .col-lg-12
        .top-section_left
          img(src="images/top-section-left.png", class="desktop")
          img(src="images/top-section-left-mobile.png", class="mobile")
        .top-section_right
          .top-section_right-title
            h2
              | Count on us,<br> Singapore
            h3
              | Whether you’re looking for cash rebates, high interest rates or miles – we’ve got savings accounts for everyone. Apply now and receive S$100*!
.step-section#home-step
  .container
    .step-section_title
      .step-section_title-wraper
        .step-section_title-content.foo
          img(src="images/steps-bg.png")
    .step-section_content
      .row
        .col-lg-12
          .step-section_content-top
            .row
              .col-lg-4.col-sm-4
                .step-section_list.step-1
                  span.foo
                    img(src="images/step-ico1.png")
                  p.foo
                    b Visit
                    | any of the<br> links below find out<br> which account type<br> suits your lifestyle<br> and needs the most
              .col-lg-4.col-sm-4
                .step-section_list.step-2
                  span.foo
                    img(src="images/step-ico2.png")
                  p.foo
                    b Apply
                    | for it<br> online or at any<br> UOB branch
              .col-lg-4.col-sm-4
                .step-section_list.step-3
                   span.foo
                    img(src="images/step-ico3.png")
                   p.foo
                    b Deposit
                    | S$5,300<br> into the account<br> within 2 weeks<br> of account<br> opened date
        .col-lg-12
          .step-section_content-bottom
            .row
              .col-lg-5.col-sm-5
                .step-section_list.step-4
                  span.foo
                    img(src="images/step-ico4.png")
                  p.foo
                    b SMS
                    | &lt;uob53&gt; &lt;id type&gt;&lt;Sxxxxxxxx&gt;<br> &lt;account type&gt; to 77862 to<br> confirm your participation
                    font.mobile
                      | Valid&nbsp;
                      b &nbsp;ID type:
                      | &nbsp;to type in either&nbsp;
                      b &nbsp;ic
                      | &nbsp;or&nbsp;
                      b &nbsp;fin
                      <br>
                      | &nbsp;Valid&nbsp;
                      b &nbsp;account type:
                      | &nbsp;to type in either&nbsp;
                      b &nbsp;stash&nbsp;
                      | &nbsp;or&nbsp;
                      b &nbsp;one
                      | &nbsp;or&nbsp;
                      b &nbsp;kf
                    font.mobile
                      b Example:
                      | <br> uob53 ic S1234567Z stash<br> uob53 fin 123456789 one
                    font.small.mobile
                      | By SMS-ing in, you agree to earmark your S$5,300 for 2 months. <br>Other terms and conditions apply.

              .col-lg-7.col-sm-7.hidden-xs
                .step-section_list.step-5.foo
                  p Valid&nbsp;
                    b &nbsp;ID type:
                    | &nbsp;to type in either&nbsp;
                    b &nbsp;ic
                    | &nbsp;or&nbsp;
                    b &nbsp;fin
                    <br>
                    | &nbsp;Valid&nbsp;
                    b &nbsp;account type:
                    | &nbsp;to type in either&nbsp;
                    b &nbsp;stash&nbsp;
                    | &nbsp;or&nbsp;
                    b &nbsp;one
                    | &nbsp;or&nbsp;
                    b &nbsp;kf
                  p
                    b Example:
                    | <br> uob53 ic S1234567Z stash<br> uob53 fin 123456789 one
                  p.small
                    | By SMS-ing in, you agree to earmark your S$5,300 for 2 months. <br>Other terms and conditions apply.









